@import '../../styles/variables.scss';

.channel_btn {
  width: 40%;
  padding: 10px;
  margin: 1rem;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.channel_btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  width: 100%;
  position: fixed;
  background: none;
}

.empty_channel {
  margin-top: 12rem;
  margin-left: 30%;
}

.channel_welcome {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.channel_buttons_container {
  width: 80vw;
  display: flex;
  justify-content: space-around;
  z-index: 2;
  position: relative;
}

.postcard-container {
  margin-top: 180px;
  background: $primary-color;
}
