@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;1,200&display=swap');

$primary-color: #ffdbac;
$secondary-color: #101017;
$accent-one: #ffff;
$accent-two: #cad315;
$accent-three: rgba(26, 77, 128, 1);

@mixin button-default {
  // border-radius: 5px;
  padding: 2% 5%;
  text-align: center;
  vertical-align: center;
  border: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  &:focus {
    outline: 0;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
