@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;1,200&display=swap');

$primary-color: #2d3848;
$secondary-color: #ffff;
$accent-one: #607382;
$accent-two: #ffff;
$accent-three: #c3cb52;
$accent-four: darken($primary-color, 10%);

@mixin button-default {
  // border-radius: 5px;
  padding: 2% 5%;
  text-align: center;
  vertical-align: center;
  border: none;
  // box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  &:focus {
    outline: 0;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
