@import '../../../../styles/variables.scss';
.channels-info_tree {
  display: flex;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
  height: 24vh;
  transform: translateY(5vh);
  background: $primary-color;
  .tree_first {
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: $primary-color;
    .tree_leaf {
      background: $secondary-color;
    }
  }
  .tree_second {
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: $primary-color;
    .tree_leaf {
      background: $secondary-color;
    }
  }
  .tree_third {
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: $primary-color;
    .tree_leaf {
      background: $secondary-color;
    }
  }
  .tree_leaf {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    width: 26vw;
    height: 4vh;
    max-width: 150px;
    color: $primary-color;
    @include button-default;
    transform: rotate(0deg);
    margin: 10px 3px;
  }
  .tree_third_one,
  .tree_third_two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2vh 0vh;
    height: 40%;
    background: $primary-color;
    .tree_leaf {
      width: 20vw;
      height: 5vh;
    }
  }
  .tree_leaf:hover {
    //   transform: scale(1.1);
    background: lighten($secondary-color, 15%);
  }
}
