@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

.message_tile {
  display: flex;
  align-items: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.tile_image {
  min-width: 30%;
  max-width: 30%;
  margin-right: 15px;
}

.tile_button {
  padding-top: 0;
  position: relative;
  right: -10px;
  top: -10px;
}

.tile_info {
  width: 55%;
  font-size: 13px;
}

.message_title {
  font-weight: 600;
  margin-bottom: 5px;
}

.message_channel {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

img .vinyl_channel {
  height: 60%;
}

.message_body {
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  font-size: 14px;
  margin-bottom: 25px;
}

.message_stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 12px;
}

.message_date {
  color: rgba(6, 93, 194, 0.6);
  font-size: 12px;
  margin-top: 5px;
  font-style: italic;
}

.comment_form {
  margin: 1rem 0;
}

.comment_username {
  font-style: italic;
  font-weight: 600;
}

.comment_body {
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
  margin-bottom: 20px;
  text-align: justify;
  font-size: 12px;
}

.comment_header {
  display: flex;
  justify-content: space-between;
  p {
    color: rgba(6, 93, 194, 0.6);
    margin-bottom: 5px;
  }
}
