@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

.message_tile {
  display: flex;
  align-items: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.tile_image {
  width: 40%;
  margin-right: 15px;
}

.tile_button {
  padding-top: 0;
  position: relative;
  right: -10px;
  top: -10px;
}

.message_title {
  font-weight: 600;
  margin-bottom: 5px;
}

.message_body {
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  margin-bottom: 25px;
}

.message_stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
