@import '../../../styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;1,200&display=swap');

#root {
  background-color: $primary-color;
}
.container_hero {
  @include flex-center;
  justify-self: flex-start;
  flex-direction: column;
  background-color: $primary-color;
  // justify-content: space-evenly;
  opacity: 0;
  height: 85%;
  position: relative;
  transform: translateY(-10vh);

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 64%;
    width: 100%;
    .logo_title {
      font-family: 'Nunito', sans-serif;
      font-weight: 300;
      font-size: 4rem;
    }
  }

  .hero_subtitle {
    width: 80%;
    display: flex;
    justify-content: center;
    span {
      font-size: 1.4rem;
      padding: 0px 2%;
    }
  }

  .hero_subtext {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: italic;
    font-weight: 100;
    width: 70%;
  }

  .hero_buttons {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 30%;
    button {
      @include button-default;
      color: $primary-color;
      margin: 4vh 0 0 0;
    }
    // .buttons_channels {
    //   width: 40%;
    //   font-size: 1.1rem;
    //   background: lighten($secondary-color, 20%);
    // }
  }
  .container_scrolldown {
    display: flex;
    position: absolute;
    bottom: -10px;
    background: transparent;
    .svg-arrow {
      width: 10%;
      height: 10%;
      margin: auto;
      animation: scrollDown 2s infinite;
      background: transparent;
    }
  }
}

@keyframes scrollDown {
  0% {
    transform: scale(0.92);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(0.92);
  }
}

.ongaku_image {
  height: 270px;
  width: auto;
}
