@import '../../../styles/variables.scss';

.genre_tag_button {
  @include button-default;
  width: 120px;
  border-radius: 0px;
  height: 40px;
  color: $secondary-color;
  background-color: $primary-color;
  font-size: 12px;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  box-shadow: none;
  border: 1px solid $secondary-color;
  z-index: 3;
  &:active {
    transition: 0.3s all;
    transform: translateY(3px);
    opacity: 0.8;
  }
  &.one {
    background-color: inherit;
    color: $secondary-color;
    font-weight: bold;
    border: 1px solid $secondary-color;
    width: 130px;
    margin-right: 7.5px;
    z-index: 3;
  }

  &.two {
    background-color: $accent-one;
    color: $secondary-color;
    // font-weight: bold;
    border: 1px solid $accent-one;
    width: 130px;
    z-index: 3;
    // margin-right: 7.5px;
  }
}

.selected_channel {
  background-color: $accent-one;
  color: $secondary-color;
  box-shadow: none;
  border: 1px solid $accent-one;
  transform: scale(1.1);
}
