@import '../../styles/variables.scss';

.container {
  height: 100vh;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
}

.drawer {
  background-color: $primary-color;
}

.header {
  height: 90px;
  border-bottom: 0.5px solid $accent-two;
  background-color: $primary-color;
  position: fixed;
  width: 100%;
  text-align: right;
  display: flex;
  flex-direction: row;
  z-index: 3;
  img {
    height: 4.2rem;
    margin: 0.5rem;
    width: auto;
  }

  h1 {
    width: 60%;
    text-align: center;
    margin-top: 1rem;
    font-family: 'Nunito', sans-serif;
  }
}

.user_info {
  height: 110px;
  width: 110px;
}

.welcome_user {
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
}

.dashboard_info {
  font-size: 1rem;
  flex-direction: flex-end;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-self: flex-end;
  position: absolute;
  bottom: 0;
  color: $secondary-color;
}
.dashboard_info h3 {
  color: $secondary-color;
}

.header h1 {
  font-size: 25px;
  padding-left: 8px;
}

.dashboard_welcome {
  padding: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 35px;
  text-align: center;
}

.welcome_title {
  font-size: 30px;
  text-align: center;
}

.button_emoji {
  font-size: 60px;
}

.ongaku_text {
  padding: 20px;
  font-size: 40px;
  color: $accent-one;
}

.drawer_side_bar {
  background-color: $accent-one;
  display: flex;
  width: 100vw;
}

.drawer_channel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2%;
  padding-left: 10%;
  padding-bottom: 5%;
  font-weight: 600;
  font-size: 18px;
}

.drawer_public {
  padding-top: 5%;
  // padding: 10%;
}

.drawer_private {
  // padding: 10%;
  padding-top: 10%;
}

.drawer_search {
  width: 100%;
  display: flex;
  justify-content: center;
}

.public_channel_list {
  list-style: none;
}

.private_channel_list {
  list-style: none;
}

.public_title {
  font-size: 18px;
  font-weight: 600;
}

.channel_item {
  padding: 10px;

  border-bottom: 0.5px solid $secondary-color;
  width: 100%;
  text-align: left;
}

.channel_item.active {
  background-color: $accent-one;
  color: $secondary-color;
}

.search_input {
  // background-color: $accent-one;
  border-radius: 0px;
  height: 30px;
  width: 261.63px;
  padding: 0%;
}

.MuiAutocomplete-endAdornment {
  visibility: hidden;
}

.channel_list_content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.unsubscribe_channel {
  position: relative;
  right: 7%;
}

.welcome_username {
  text-align: center;
}

.side_bar_drawer_buttons {
  display: flex;
  width: 80vw;
  justify-content: space-around;
  align-self: center;
  margin-bottom: 2.5rem;
  background-color: $primary-color;
}
