@import '../../../styles/variables.scss';

.FinalPostWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.FinalPost_Title {
  height: 4rem;
  width: 95%;
  border-bottom: 2px solid $secondary-color;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 10px 0;
  position: relative;
}

.FinalPost_close {
  position: relative;
  left: 6rem;
  bottom: 0.6rem;
  font-size: larger;
}

.FinalPost_Tile {
  width: 50%;
  margin: 2rem;
}

.Tile_Content {
  margin-top: 1rem;
  p {
    margin: 0.3rem 0;
  }
}

.FinalPost_message {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #d3d3d3;

  min-height: 40vh;
  padding-top: 10px;
  input {
    padding: 1rem;
    width: 90%;
    margin-bottom: 10px;
    font-weight: bolder;
  }
  textarea {
    padding: 1rem;
    width: 90%;
    height: 12rem;
    margin-bottom: 1rem;
    overflow-y: scroll;
  }
}
