@import '../../../styles/variables.scss';
.loginbutton {
  @include button-default;
  width: 100%;
  background: $accent-one;
  color: white;
  // padding: 2% 3%;
}

.discogs-logo {
  background-color: $accent-one;
  color: #ffff;
  height: 30px;
  width: 100%;
}

.discogs-logo2 {
  height: 20px;
  width: 100%;
  background-color: $primary-color;
}
