@import '../../styles/variables.scss';

.container_login {
  @include flex-center;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
  height: 40%;
  z-index: 2;
  background: transparent;
  pointer-events: none;
}

.login_container_logo {
  background: transparent;
}

.container_animation_circles {
  position: relative;
  overflow: hidden;
}

.login_button {
  @include button-default;
  pointer-events: auto;
  font-size: 1.6rem;
  &:hover {
    background: darken($primary-color, 3%);
    // transform: scale(1.03);
  }
}

.login_logo {
  width: 70%;
}

.animated_circle {
  background: $secondary-color;
  width: 200px;
  height: 200px;
  transform: scale(0);
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
  .inner_circle {
    background: $primary-color;
    width: 99%;
    height: 99%;
    border-radius: 50%;
  }
}
